/* general layout styling */
body, html {
    background-color: #009B77;
    margin: 0px;
    padding: 0px;
}

.title {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #DD4124;
}

h1 {
    text-align: center;
    font-family: 'Kalam';
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
   
}
#escapeToClear {
    position: absolute;
    left: 65px;
    top: 90px;
    text-align: center;
}
hr  {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr  { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

main {
    display: flex;
    justify-content: flex-end;
}


/* Saved Animals section */
#savedAnimals {
    background-color: #DD4124;
    border: 2px solid;
    position: absolute;
    top: 150px;
    left: 80px;
    height: 600px;
    width: 320px;
    display: flex;
    flex-direction: column;
    
}

h3 {
    text-align: center;
    border: solid 5px RGB(0, 155, 119);
    border-radius: 50%;
    font-size: 20px;
    font-family: cursive;
}

ul {
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
}

.spirit {
    position: relative;
    background-color: RGB(68, 184, 172);
    display: flex;
    right: 20px;
    border: 2px solid;
    height: 50px;
    list-style: none;
    margin: 10px;
    font-family: cursive;
}

.listImage {
    position: relative;
    left: 3px;
    top: 5px;
    height: 40px;
    width: 100px;
}


/* generated animal section styling */
.generatedAnimal {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 0px;
    /* background-color:rgba(29, 113, 158, 0.6); */
}

#animal-info {
    position: relative;
    height: 60vh;
    min-width: 40vh;
}



/* Image and image overlay styling */
.image {
position: relative;
border-radius: 100%;
}

.image__img {
display: absolute;
min-width: 70%;
max-width: 90%;
height: 100%;
z-index: -1;
margin: 0px;
}
.image__overlay {
position: absolute;
top: 0;
left: auto;
width: 90%;
height: 100%;
background: rgba(0, 0, 0, 0.6);
color: #fff;
font-family: 'Quicksand', sans-serif;
display: flex;
flex-direction: column;
align-items:center;
justify-content: center;
text-align: center;
opacity: 0;
transition: opacity 0.25s;
}

.image__overlay > * {
transform: translate(20px);
transition: transform 0.25s;
}

.image__title {
font-size: 2em;
font-weight: bold;
}

.image__description {
font-size: 1em;
margin-top: 0.25em;
}



/* button styling */
.custom-btn {
width: 130px;
height: 40px;
color: #fff;
border-radius: 5px;
padding: 10px 25px;
font-family: 'Lato', sans-serif;
font-weight: 500;
background: transparent;
cursor: pointer;
transition: all 0.3s ease;
position: relative;
display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
outline: none;
margin: 10%;
}

.btn-12{
position: relative;
right: 20px;
bottom: 20px;
border:none;
box-shadow: none;
width: 130px;
height: 40px;
line-height: 42px;
-webkit-perspective: 230px;
perspective: 230px;
}
.btn-12 span {
background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
display: block;
position: absolute;
width: 130px;
height: 40px;
box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
border-radius: 5px;
margin:0;
text-align: center;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.btn-12 span:nth-child(1) {
box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
-webkit-transform: rotateX(90deg);
-moz-transform: rotateX(90deg);
transform: rotateX(90deg);
-webkit-transform-origin: 50% 50% -20px;
-moz-transform-origin: 50% 50% -20px;
transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
-webkit-transform: rotateX(0deg);
-moz-transform: rotateX(0deg);
transform: rotateX(0deg);
-webkit-transform-origin: 50% 50% -20px;
-moz-transform-origin: 50% 50% -20px;
transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
-webkit-transform: rotateX(0deg);
-moz-transform: rotateX(0deg);
transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
color: transparent;
-webkit-transform: rotateX(-90deg);
-moz-transform: rotateX(-90deg);
transform: rotateX(-90deg);
}